<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{% block title %}Multi Disease Predictor{% endblock %}</title>

<!-- favicon (PNG) with cache-buster -->
<link rel="icon" type="image/png" href="{{ url_for('static', filename='logo/robot.png') }}?v=2">

<!-- fallback for older browsers -->
<link rel="shortcut icon" href="{{ url_for('static', filename='logo/robot.png') }}?v=2" type="image/png">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">



</head>
<body>

<header class="header">
  <div class="container nav-wrapper">
    <a href="{{ url_for('main') }}" class="logo">
    <img src="{{ url_for('static', filename='logo/robot.png') }}" 
    style="width:36px; height:36px; border-radius:10px;">
    <span>Multi Disease Predictor</span>
    </a>



    <nav class="navbar">
      <a  href="{{ url_for('main') }}">Home</a>
      <a  href="{{ url_for('models') }}">Models</a>
      <a href="{{ url_for('chatbot') }}">AI-ChatBot</a>
      <a  href="{{ url_for('contact') }}">Contact</a>

    </nav>
  </div>
</header>

<main class="container main-content">
  {% block content %}{% endblock %}
</main>

<footer class="footer">
  <div class="container">
    © 2025 | Designed by <b>Rakshith P R</b>
  </div>
</footer>

</body>
</html>
